html {
  height: 100%;
  padding-top: 70px;
}

.box {
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-family: "Roboto Mono", monospace;
  position: relative;
  border: 1px solid rgb(22, 49, 107);
  height: 300px;
  width: 50%;
  padding: 10px;
}

.box::before{
  content: '';
  position: absolute;
  width: 100px;
  height: 100px;
  /* transition: all 0.5s; */
  border: 1px solid rgb(22, 49, 107);
  
  top: -20px;
  left: -20px;
  border-right: none;
  border-bottom: none;
}

.box::after {
  content: "";
  position: absolute;
  width: 100px;
  height: 100px;
  /* transition: all 0.5s; */
  border: 1px solid rgb(22, 49, 107);
  
  bottom: -20px;
  right: -20px;
  border-left: none;
  border-top: none;
}

@keyframes am1{
  0%{
    width: 100px;
    height: 100px;
  }
  50%{
    width: 1010px;
    height: 360px;
  }
  100%{
    width: 100px;
    height: 100px;
  }
}


.box:hover::before{
  animation: am1 1s linear 1 alternate 0.5s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

.box:hover::after{
  animation: am1 1s linear 1 alternate 0.5s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  /* border: 1px solid #03A9F3; */
}

.subject{
  text-align: center;
}
.wavy{
  position: relative;
}
.wavy span{
  position: relative;
  display: inline-block;
  color: rgb(22, 49, 107);
  font-size: 3em;
  font-family: fantasy;
  font-weight:bold;
  animation: animate 3s ease-in-out infinite;
  animation-delay: calc(.1s*var(--i))
}

/* 文字波浪效果 */
@keyframes animate{
  0%{
    transform: translateY(0px)
  }
  20%{
    transform: translateY(-20px)
  }
  40%, 100%{
    transform: translateY(0px)
  }
}

h4{
  color: #e0a570;
}

/* div#main UL LI {
  padding: 10px;
  font-size: 20px;
}

div#feedback {
  padding: 15px;
}

div#container {
  margin: 15px;
}

div#drop-zone {
  height: 400px;
  width: 400px;
  border: 2px dotted #f8f1f1;
}

div#drop-zone:hover {
  background-color: gray;
  border: 1px dotted #000000;
  cursor: move;
}

div#content {
  border: 1px solid #FFF;
  margin-top: 15px;
  padding: 10px;
} */